.container {
  display: flex;
  font-weight: 500;
}

.sectionA {
  width: 67.2%;
}

.tableContainer {
  margin-top: 0.5rem;
  width: 100%;
}

.heading {
  display: flex;
  padding: 0.6rem 0.5rem;
  justify-content: space-between;
  background-color: #2c3e50d9;
  color: #ffffff;
  font-weight: 550;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-top: 0.5rem;
}

.viewAll {
  cursor: pointer;
}

.Result {
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem 0;
  margin-top: 0.5rem;
}

.Result div {
  background: #355e3b;
  color: #ffff33;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}

.placeBet {
  width: 32.8%;
  padding-left: 0.1rem;
  position: static;
  z-index: auto;
}

.sectionB {
  padding-left: 0.3rem;
  margin-top: 0.4rem;
  margin-left: auto;
  font-weight: 700;
}

.section1 {
  display: flex;
  font-weight: 500;
  background-color: #2c3e50;
  color: white;
  justify-content: space-between;
  padding: 0.3rem 0.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.section2 {
  display: flex;
  background: #f7f7f7;
  padding: 3px 0.5rem;
  font-weight: bold;
  justify-content: space-between;
  font-size: 14px;
}

.videoBox {
  background-color: black;
  width: 100%;
  height: 24.7rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sectionA {
    width: 100%;
  }

  .tableContainer {
    flex-direction: column;
  }

  .placeBet {
    display: none;
  }
  .placeBet.visible {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    /* background-color: white; */
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.mobileMyBetContainer {
  width: 100%;
  display: none;
}

@media (max-width: 768px) {
  .mobileMyBetContainer {
    display: block;
  }
}

.myBetContainer {
  width: 100%;
  margin-left: 0.1rem;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .myBetContainer {
    width: 100%;
    display: none;
  }
}